<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Indirizzo</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente in listaClienti">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cognome}}</td>
            <td>{{cliente.indirizzo}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.telefono}}</td>
        </tr>
    </tbody>
</table>
